<%# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <aside class="menu">
  <p class="menu-label">書本</p>
  <ul class="menu-list">
    <li><a>書本一</a></li>
    <li><a>書本二</a></li>
  </ul>
  <p class="menu-label">出版商</p>
  <ul class="menu-list">
    <li><a>出版一號傷</a></li>
    <li><a>出版商二號</a></ul>
</body>
</html> %>