<section class="section">
  <div class="container">
<div class="notification is-primary">
  <button class="delete"></button>
  Primar lorem olor. <strong>Pellentesque risus mi</strong>, tempus qui
  <%notice%>

</div>

