<script src="https://js.braintreegateway.com/web/dropin/1.21.0/js/dropin.min.js"></script>

<h1 class="title">付款</h1>

<div id="dropin-container"></div>
<button id="submit-button" class="button is-primary">確認付款</button>

<%= form_with url: paid_order_path(order.num) id: 'payment-form' do |form| %>
  <%= form.hidden_field :nonce %>
<%end%>
<script>
  document.addEventListener('turbolinks:load', () => {
    let button = document.querySelector('#submit-button');
    braintree.dropin.create({
      authorization: '<%= @token %>',
      container: '#dropin-container'
    }, function (createErr, instance) {
      button.addEventListener('click', function () {
        instance.requestPaymentMethod(function (err, payload) {
          let hidden_field = document.querySelector('#nonce');
          let form = document.querySelector('#payment-form');
          hidden_field.value = payload.nonce;
          form.submit();
        });
      });
    });
  });
</script>