<h1>新增書本</h1>
rails g model 

<%# 
- title          string
- publish_date   date
- list_price     deciml
- sell_price     decimal
- page_num       integer
- isbn           string unique
- isbn 13        string unique
- description    text 
- about          text
- outline        text
- on_sell        boolean flast %>




<br>
<a href="/books">返回商品列表</a>