body {
    margin: 10px;
    padding: 10px;
    text-align: center;
}


.field_with_errors input {
    border: 1px red solid;
}

.nav.pagination {
    .page {
        background-color: #ccf;
        padding: 10px;
        font-size: 15px;

    }
}