<h1 class="title">分類列表</h1>
<%notice%>
<%= link_to '新增咪凹', new_admin_category_path%>
<table>
  <thead>
    <tr>
      <th>分類</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category|%>
    <tr>
      <td><%= link_to category.title,admin_categories_path(category)%></td>
      <td><%= link_to "編輯", edit_admin_category_path(category), class: 'button is-small is-light' %></td>
      <td><%= link_to "刪除", admin_category_path(category), method: :delete, data: { confirm: '確定刪除?!' }, class: 'button is-small is-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>