<p>Hello <%= @resource.email %>!</p>

<p>有人請求鏈接來更改您的密碼。 您可以通過下面的鏈接進行此操作</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
