<p>Hello <%= @resource.email %>!</p>

<p>由於嘗試登錄失敗的次數過多，您的帳戶已被鎖定</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
